@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
body{
	margin:0;
	background-image: url("https://i.pinimg.com/originals/72/77/fa/7277fa63309d0fdfd37557707deb6e55.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
img{
	height:300px;
	width:200px;
}
#banner{
	height:100px;
	width:auto;
	margin:0 auto;
	text-align:center;
	padding:10px;
	background-image: url("https://ak9.picdn.net/shutterstock/videos/1011051509/thumb/8.jpg");
	border:inset 4px;
	border-radius:10px;
}
#banner h1{
	color:#7D1B7E;
	font-size:32px;
	font-family: 'Dancing Script', cursive;
}
#nav{
	white-space:nowrap;
	text-align:center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	background-image:("https://cdn.wallpapersafari.com/55/79/DAn8NP.jpg");
}
#nav a:hover {
	color:blue;
	font-style:underline;

}
#holder{
	margin-left:auto;
	margin-right:auto;
	border-radius:12px;
	border:5px blue groove;
	flex-direction:row;
	display:flex;
	justify-content: space-around;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url("https://images.assetsdelivery.com/compings_v2//asamask92/asamask921603/asamask92160300046/53613684.jpg");
}
#main{
	font-size:20px;
	font-family: 'Lobster', cursive;
	padding:50px;

}
#side img {
	border:groove white 4px;
}
#footer{
	text-align:center;
	position:fixed;
	left:0;
	bottom:0;
	padding-top:5px;
	text-transform:uppercase;
	font-size:18px;
	font-family: 'Baskervville', serif;
	border-radius:8px;
	border:3px black groove;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color:white;
	background-image: url("https://i.pinimg.com/originals/6a/48/c7/6a48c7724a19c0b174e753f9d33c1d21.jpg");
}
.imgRight{
	float:right;
	margin-left:10;
}
h2{

}
p{
	font-size:20px;
}




	